
body{
  color:white;
}

#root {
  height: 64vh;
  max-width: 100%;
  font-family: sans-serif;
  font-size: 8px;
  font-style: thin;
  color:white;
  background-size: cover;
  background-position: center;
  position:relative;

}
.jumbotron{
  overflow:hidden;
  width:100%;
  margin:auto auto;
}
.text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font:8px;
  position:absolute;
  right: 1%;
  top: 16%;
  width: 40px;
}

.container-banner {
  text-align: center;
  display: block;
  margin:auto auto;
  max-width:240px;
  padding:120px 0;

}

.container-banner h5{
  font-size:24px;
  display:block;
  margin:auto auto;
}

.body-container{
 background-color:  #8080804d;
 font-size: 12px;

}

.card-trip {
  background: #8080804d;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   overflow: hidden;
   /*height:180px;*/
   width:100%;


}

.card-trip > img {
  width: 100%;
  object-fit: cover;
  background-color: #8080804d;
}

.card-trip h5 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;

}

.card-trip p {
  font-size: 8px;
  opacity: .7;
  margin: 0;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  /*padding:120px;*/
  width:100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .container-banner {
  text-align: center;
  /*display: block;*/
  margin:auto auto;
  max-width:240px;
  padding:120px 0;

}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;

  }
  .footer-card{
    font-size: 8px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.banner p{
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: center;

}

.tabs-underlined.tab-underlined {
  color: black;
  padding: 8px;
  margin: auto;
  opacity: .4;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.nav-link {
  color:#000;
  font-size: 8px;
}
.footer-card{
  display:flex;
  font-size: 8px;
}
.footer-card h5{
  font-size: 8px;
  color:grey;
}
